@font-face {
    font-family: Novecento;
    src: url(../../fonts/Novecentowide-DemiBold.otf);
}

#menuIcon {
    width: 35px;
    height: 35px;
}

.googleLoginButton {
    box-shadow: 0 0 3px gray !important;
    border-radius: 5px !important;
    color: #FF6600 !important;
    background-color: white !important;
    font-family: Novecento !important;
    font-size: 10px;
}

.orgIcon {
    width: 35px;
    height: 35px; 
}

.profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 2px white;
    border: 1px white solid;
}

#menuIcon {
    width: 38px;
    height: 38px;
}

#header {
    background-image: linear-gradient(to bottom, #FFD701, #FF6600);
    box-shadow: 0 0 2px gray;
    margin-bottom: 20px;
    height: 60px;
}
